cartopy==0.21.1
datasets==2.10.1
joblib==1.2.0
matplotlib==3.7.0
mayavi==4.8.1
networkx==3.0
nltk==3.8.1
numpy==1.24.2
omegaconf==2.3.0
pandas==1.5.3
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
torch==2.0.0
torchvision==0.15.1
tqdm==4.64.1
transformers==4.27.1
